<form action="/sessions/create" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="sessions[email]"></br>
  
  <label for="password">Password</label>
  <input type="password" id="email" name="sessions[password]"></br>
  <button type="submit">Login</button>
</form>