<h2>Edit User</h2>

<form action="/users/update" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]" value="<%= @user.email %>"></br>

  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="user[first_name]" value="<%= @user.first_name %>" ></br>

  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="user[last_name]" value="<%= @user.last_name %>"></br>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" required></br>
  <button type="submit">Update user</button>
</form>