<h2>Register</h2>

<form action="/users/create" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]"></br>
  
  <label for="password">Password</label>
  <input type="password" id="email" name="user[password]"></br>

  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="user[first_name]"></br>

  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="user[last_name]"></br>
  <button type="submit">Regiser</button>
</form>