<h2>Register</h2>

<form action="/users/create" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="user[email]" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="user[password]" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>